
*.config
Muslimeen/.vs/Muslimeen/v14/.suo
Muslimeen/Muslimeen/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Muslimeen/.vs/Muslimeen/v15/.suo
Muslimeen/UpgradeLog.htm
*.cache
Muslimeen/.vs/Muslimeen/v15/.suo
