html {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #256297;
    height: 100%;
}

.field-div:hover {
    box-shadow: 0 2px 5px rgb(25,62,97);
    border-radius:2px;
}

.form-profileEditer {
    width: 100%;
    max-width: 630px;
    padding: 15px;
    margin: auto;
}

.form-profileEditer {
    position: relative;
    height: auto;
    padding: 15px;
    font-size: 16px;
}

.form-profileEditer {
    z-index: 2;
}

.form-profileEditer input[type="email"] {
    margin-bottom: -1px;
}

.form-profileEditer input[type="password"] {
    margin-bottom: 10px;
}

.main-div {
    background-color: #ffffff;
    position: relative;
    text-align: center;
    width:700px;
    max-width: 704px;
    margin: auto;
    min-height: 220px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.45);
    border-radius: 8px;
}

.main-btn {
    background-color: #256297;
    border-color: #256297;
    width: 150px;
}

.main-txtb:focus {
    background-color: #d7e7f5;
    text-decoration-color: black;
}

.btn:hover {
    background-color: #3F84C1;
}

.lblError {
    color: red;
}
