<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576" executionTimeout="3600" />
  </system.web>
  <!--<system.webserver>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webserver>-->
  <connectionStrings>
    <clear/>
    <add name="conMuslimeen"
         connectionString="server=localhost; database=Muslimeen; Integrated Security=True"/>
  </connectionStrings>

</configuration>
