.title{
    font-family:sans-serif;
    color:white;
    text-align:center;
   
}



 #Zakaah {
    background-color: #256297;
   
}

#Calculator {
    background-color: green;
}

#Facts {
    background-color: blue;
}

#Organizations {
    background-color: orange;
    
}
.footerr {
    width: 100%;
    background-color: white;
    border-color: white;
    bottom: 0;
    left: 0;
    padding: 25px;
    position:relative;
    
}

.footerr-text {
    color: #3F84C1;
    text-decoration: none;
    font-size: 13px;
}
.header{
    position:relative;
}
.box {
    box-sizing: border-box;
    width:auto;
    background-color:white;

}
/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

    .tablink:hover {
        background-color: #777;
    }

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    display: none;
    padding: 100px 20px;
    height: 100%;
}
.fakeimg {
    height: 100px;
    background: #aaa;
}
.rightposition{
  left:50%;
  position:relative;
}