* {
    box-sizing: border-box;
}

.header {
    background-color: #256297;
    font-family: sans-serif;
    text-decoration-color: white;
    text-align: center;
    color: white;
    font-size: 50px;
}

.title {
    font-family: sans-serif;
    color: white;
    text-align: center;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


.lstBtn {
    position: static;
    background-color: #6e9bc3;
    color: black;
    padding: 0;
    border-radius: 0px;
    text-align: start;
    font-size: small;
    border: thin solid #256297;
}

    .lstBtn:hover {
        color: white;
        position: static;
        border: dashed 2px black;
    }




/* Start coping from here to get heade and footer styling*/
body {
    background-color: #256297;
    height: 100%;
    width: inherit;
    overflow-x: hidden;
    overflow-y: auto;
}

html {
    width: auto;
}

.frmDefault {
    width: unset;
}

.navv {
    background-color: white;
}

.user {
    color: #256297;
}

    .user:hover {
        font-weight: 500;
    }

.navbaritems {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-radius: 2px;
}

.navText {
    font-size: large;
    font-weight: 500;
    color: #256297;
}

    .navText:hover {
        color: white;
        background-color: #3F84C1;
        text-decoration: none;
        border-radius: 2px;
    }

.navbar {
    background-color: white;
    border-color: white;
    overflow: hidden;
}

.navFixed {
    width: 100%;
    background-color: white;
    border-color: white;
    padding: 10px;
}

.content {
    background-color: white;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
}

.contentPad {
    padding-top: 125px;
}

.navbtn {
    text-decoration-color: #256297;
}

    .navbtn:hover {
        color: white;
        background-color: #3F84C1;
        text-decoration: none;
        border-radius: 2px;
    }

.topnav {
    border-color: #3F84C1;
    font-weight: 400;
    color: #256297;
}

    .topnav:hover {
        color: white;
        background-color: #3F84C1;
        text-decoration: none;
        border-radius: 3px;
    }

.search-btn {
    border-bottom-color: #3F84C1;
    border-top-color: #3F84C1;
    border-left-color: white;
    border-right-color: #3F84C1;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 35px;
    background-color: none;
}

.search-box:focus.search-btn:hover {
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

.search-box {
    width: 110px;
    float: right;
    transition: width 0.2s ease-out;
    -webkit-transition: width 0.2s ease-out;
    border-bottom-color: #3F84C1;
    border-top-color: #3F84C1;
    border-left-color: #3F84C1;
    border-right-color: white;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

    .search-box:focus {
        width: 100%;
        box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
    }

.footerr {
    width: 100%;
    background-color: white;
    border-color: white;
    bottom: 0;
    left: 0;
    padding: 25px;
}

.footerr-text {
    color: #3F84C1;
    text-decoration: none;
    font-size: 13px;
}

.h1header {
    font-family: 'Dr Sugiyama',Arial;
    font-size: 65px;
    color: #3F84C1;
}

.IslamicDate {
    color: #256297;
}

.NavDevider {
    color: #256297;
    align-self: center;
}
/*End copying from here for Header and footer*/

.ModalPopupBG {
    background-color: #666699;
    filter: alpha(opacity=50);
    opacity: 0.7;
}

.HellowWorldPopup {
    min-width: 500%;
    max-width: 100%;
    min-height: 300px;
    max-height: 100%;
    background: white;
    overflow: auto;
}